button, label, input, select, textarea {
  font-size: 1.6rem;
}

.text-heading {
  font-family: Baskerville, serif;
  font-weight: bold;  
}

.text-shadow {
  text-shadow: 2px 2px #333;
}

.text-size-xl {
  font-size: 9.8rem;
}

.text-size-lg {
  font-size: 4.2rem;
}

.text-size-md {
  font-size: 2.4rem;
  line-height: 3rem;
}

.text-size-sm {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.text-size-xs {
  font-size: 1.6rem;
}
